<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Iniciando: Aplicações WEB</title> 
    <meta http-equiv="Content-Type" 
    	content="text/html; charset=UTF-8" />
</head>
<body>
     <a href="#" onclick="window.open('novoprofessor', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=445, HEIGHT=400');">Adicionar Novo Professor</a> 
    
    <a href="#" onclick="window.open('listaprofessor', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=732, HEIGHT=500');">Listar Professor</a> 
    
    <a href="menu">Voltar</a>
   
</body>
</html>
