<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Iniciando: Aplicações WEB</title> 
    <meta http-equiv="Content-Type" 
    	content="text/html; charset=UTF-8" />
</head>
<body>
   
   
    <a href="#" onclick="window.open('novasala', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=445, HEIGHT=400');">Adicionar Nova Sala</a> 
   
    <a href="#" onclick="window.open('listasalas', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">Listar Salas</a> 
    
    <a href="menu">Voltar</a>
   
</body>
</html>