<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Iniciando: Aplicações WEB</title>
	<meta http-equiv="Content-Type" 
		content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="salas"
		th:unless="${#lists.isEmpty(salas)}">
		<h2>Lista de Salas</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Vagas</th>
                                        <th>Prog. Instalados</th>
                                        <th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sala : ${salas}">
					<td th:text="${sala.nome}"></td>
					<td th:text="${sala.vagas}"></td>
                                        <td th:text="${sala.progInstalados}"></td>
                                        <td th:text="${sala.status}"></td>
                                        
                                        <td>
						<a th:href="@{'editarsala?id=' + ${sala.id}}">Editar</a>
						<a th:href="@{'removersala?id=' + ${sala.id}}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a href="CadastroSala">Voltar</a>
</body>
</html>