<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Iniciando: Aplicações WEB</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   
</head>
<body>
    
    <style>
        input {
	position: absolute; 
	left: 190px;
        }
        select {
	position: absolute; 
	left: 190px;
        }
    </style>
	<label th:text="${message}"></label>
	<form action="#" th:action="@{/salvarsala}" th:object="${sala}" method="post">
            <fieldset>
                <legend>Cadastro de Salaswandeir</legend>
                <div>
		<label> Identificação da Sala: </label>
		<input type="text" th:field="*{nome}" size="20" />
                </div>
                <div>
		<label> Vagas(Capac de Alunos): </label>
		<input type="text" th:field="*{vagas}" />
                </div>
                
                
                <div>
                <div>
                <label> Status: </label>
                    <select type="text" th:field="*{status}">
                        <option value="Ativo">Ativo</option>
                        <option value="Desativado">Desativado</option>
                        <option value="Em Manutenção">Em Manutenção</option>
                    </select>
                <div>
                <label> Programas Instalados: </label>
		<textarea type="text" th:field="*{progInstalados}" rows="4" cols="50">
                </textarea>
                </div>                
                <label> Observação: </label>
                <textarea type="text" th:field="*{observacao}" rows="4" cols="50">                
                </textarea>
                </div>
                <br></br><br></br>
                <button name="salvar" type="submit">Salvar</button>
                <button><a style="text-decoration:none #040404"  href="CadastroSala">Voltar</a></button>
                </div>
                <p></p>               
            </fieldset>
	</form>
	
</body>
</html>
