
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Iniciando: Aplicações WEB</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
</head>

<body>
    
    <div class="container" >
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
            <div class="navbar-nav">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CADASTRO DE SALA
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/novasala">Adicionar Salas</a>
                            <a class="dropdown-item" href="/listasalas">Listar Salas</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CADASTRO DE PROFESSOR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/novoprofessor">Adicionar Professor</a>
                            <a class="dropdown-item" href="/listaprofessor">Listar Professor</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            AGENDAR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/novoagendamento">Adicionar Agendamento</a>
                            <a class="dropdown-item" href="/listaragendamento">Listar Agendamento</a>
                        </div>
                    </li>

                </div>
                
                <a class="nav-item nav-link" href="index.html">SAIR</a>
            </div>
        </nav>
    
    </div>
 
    <br />
    
    <div class="container" >
        
        <div class="span12" style="text-align:center; margin: 0 auto;">
            <legend><h1>Agendamento</h1></legend>
        </div>
        
            <br /><br /><br /><br />
   
        <fieldset>
            <form class="form-horizontal" style="center:800px; margin:0 auto ;" action="#" th:action="@{/salvaragendamento}" th:object="${agendamento}" method="post">       
     
                <div class="form-group col-md-3">
                    <label  for="exampleFormControlInput1"><p><h4>Professor: </h4></p></label>
                        <select th:field="*{professor.id}"  size="1" class="form-control" id="exampleFormControlInput1">
                            <option th:each="professor : ${professores}" th:value="${professor.getId()}" 
                            th:text="${professor.getNome()}">Professor</option>
                        </select>
                </div>
                <div class="form-group col-md-3">
                    <label  for="exampleFormControlInput1"><p><h4>Sala: </h4></p></label>
                        <select th:field="*{sala.id}"  size="1" class="form-control" id="exampleFormControlInput1">
                            <option th:each="sala : ${salas}" th:value="${sala.getId()}" 
                            th:text="${sala.getNome()}">Sala</option>
                        </select>
                </div>
                <div class="form-group col-md-3">
                    <label  for="exampleFormControlInput1"><p><h4>Horario: </h4></p></label>
                        <select th:field="*{hora.id}"  size="1" class="form-control" id="exampleFormControlInput1">      
                            <option th:each="hora : ${horas}" th:value="${hora.getId()}" 
                            th:text="${hora.getHora()}">Hora</option>
                        </select>
                </div>
                <div class="form-group col-md-3">
                    <label  for="exampleFormControlInput1"><p><h4>Data: </h4></p></label>
                    <input type="text" th:field="*{data}" class="form-control" id="calendario"/>
                </div>
                
                <br /><br /><br /><br /><br /><br /><br /><br />
                
                <div class="form-group col-md-5">  
                    <label for="exampleFormControlTextarea1"><p><h4>Observação: </h4></p></label>
                    <textarea type="text" th:field="*{observacao}" class="form-control" id="exampleFormControlTextarea1" rows="3" cols="50"></textarea>
                </div>
         
                <br /><br /><br /><br /><br /><br /><br /><br />
                
                <label th:text="${message}" style="color:green" ></label>
                
                <br /><br /><br /><br /><br />
   
                <div class="span12" style="text-align:center; margin: 0 auto;">
                  <input class="btn btn-primary medio"  type="submit" value="Salvar"/>
                  <a class="btn btn-primary medio"  href="menu" role="button"> Voltar</a>
                  <a class="btn btn-primary medio"  href="novoagendamento" role="button"> Limpar Campos</a>
                  
                </div>
            </form>
        </fieldset>
    </div>
    
    

    
    <style>
            
            .medio {
                width: 15%;
            }
            
    </style>
   
    <script>
        $(function() {
            $( "#calendario" ).datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                language: "pt-BR",
                minDate: 0,
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
            });
        });
    </script>   
         
</body>
</html>
